##############################
## Folders                  ##
##############################
/out/
/.idea/

##############################
## Netbeans conf            ##
##############################

